.r-child,
.r1 {
  position: relative;
}
.r-child {
  align-self: stretch;
  width: 53px;
  background-color: var(--color-orangered-100);
  display: none;
}
.r1 {
  white-space: nowrap;
  z-index: 1;
}
.r {
  background-color: var(--color-orangered-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xs) 0 var(--padding-2xs);
}
.avindaran {
  position: relative;
  color: var(--color-black);
  white-space: nowrap;
  cursor: pointer;
}
.frame-home-about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 2px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-inter);
}
.home {
  position: relative;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.frame-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.about {
  position: relative;
  letter-spacing: 0.03em;
}
.frame-about1 {
  width: 87px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xs) var(--padding-5xs);
  box-sizing: border-box;
  cursor: pointer;
}
.services {
  position: relative;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.frame-about2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.projects {
  position: relative;
  letter-spacing: 0.03em;
}
.frame-about3,
.frame-home {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-about3 {
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-2xs) var(--padding-5xs)
    var(--padding-xs);
  cursor: pointer;
}
.frame-home {
  justify-content: flex-start;
  padding: 0 84px 0 0;
  box-sizing: border-box;
  gap: 0 24.67px;
  max-width: 100%;
  color: var(--color-black);
}
.ravindaran-kumar-text {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: -0.1px;
  right: 0.3px;
  bottom: 0.1px;
  left: 0.3px;
  border-radius: 4.65px;
  background-color: var(--color-orangered-100);
}
.download-cv {
  height: 14.9px;
  position: relative;
  letter-spacing: 0.03em;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  z-index: 1;
}
.download-btn,
.frame-projects {
  display: flex;
  align-items: flex-start;
}
.download-btn {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lgi) var(--padding-5xl);
  position: relative;
  white-space: nowrap;
}
.frame-projects {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  text-align: justify;
}
.header-frame {
  width: 1361px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lgi-6);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.hi-i-am,
.ravindaran-kumar {
  height: 33px;
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: inline-block;
}
.ravindaran-kumar {
  height: 45px;
  font-size: 29.8px;
  color: var(--color-orangered-100);
}
.instagram-negative-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px 0;
}
.designer,
.uiux-web {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: inherit;
}
.uiux-web {
  margin: 0 !important;
  height: 140px;
  position: absolute;
  top: -81.9px;
  left: -217px;
  display: inline-block;
  z-index: 1;
}
.design-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.committed-to-continuous,
.enthusiastic-fresher-in {
  margin: 0;
}
.description {
  position: relative;
  letter-spacing: 0.03em;
}
.description-wrapper,
.website-design-description-fra {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.description-wrapper {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 5px 0 var(--padding-12xs);
  text-align: justify;
  font-size: var(--font-size-xl);
}
.website-design-description-fra {
  flex-direction: column;
  align-items: flex-end;
  gap: 25px 0;
  max-width: 100%;
  font-size: var(--font-size-74xl);
}
.facebook-negative-frame,
.twitter-negative-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.twitter-negative-frame {
  align-self: stretch;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: 60px 0;
}
.facebook-negative-frame {
  flex: 1;
  min-width: 432px;
  min-height: 462px;
}
.image-1-icon {
  height: 601.4px;
  width: 522.8px;
  position: relative;
  max-width: 100%;
}
.header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-111xl);
  max-width: 100%;
}
.facebook-negative,
.instagram-negative,
.linkedin-negative,
.twitter-negative {
  height: 30.2px;
  width: 30.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 30px;
}
.social-media-negative-containe {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 0 23px;
}
.image-frame,
.social-media-negative-containe-wrapper {
  width: 603px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.image-frame {
  width: 1361px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  gap: 9px 0;
  text-align: left;
  font-size: 22.3px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.image-1-icon1,
.title {
  position: relative;
  max-width: 100%;
}
.image-1-icon1 {
  height: 601.4px;
  width: 522.8px;
}
.title {
  width: 329px;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.bca-graduate-in,
.qualities-of-listening {
  margin: 0;
}
.description1,
.uiux {
  position: relative;
  letter-spacing: 0.03em;
}
.description1 {
  align-self: stretch;
  height: 145px;
  font-size: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.uiux {
  font-weight: 600;
}
.rectangle-frame-child {
  position: absolute;
  top: -0.2px;
  left: 0.3px;
  border-radius: 5.61px;
  background-color: var(--color-whitesmoke-300);
  width: 100%;
  height: 100%;
  display: none;
}
.rectangle-frame,
.rectangle-frame-item,
.statisticframe {
  position: absolute;
  left: 0;
  border-radius: 5.61px;
  height: 11px;
}
.rectangle-frame-item {
  top: 0;
  background-color: var(--color-orangered-100);
  width: 309px;
  z-index: 1;
}
.rectangle-frame,
.statisticframe {
  top: 10px;
  background-color: var(--color-whitesmoke-300);
  width: 704px;
}
.statisticframe {
  top: 0;
  left: 309px;
  border-radius: 50%;
  box-shadow: 0 3.7px 6.54px rgba(0, 0, 0, 0.2);
  border: 0 solid var(--color-orangered-100);
  box-sizing: border-box;
  width: 29.9px;
  height: 29.9px;
  z-index: 1;
}
.web-design-title {
  align-self: stretch;
  height: 30px;
  position: relative;
}
.ux {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  gap: var(--gap-7xs);
}
.website-design1 {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.frame-child {
  position: absolute;
  top: -0.1px;
  left: 0.3px;
  border-radius: 5.61px;
  background-color: var(--color-whitesmoke-300);
  width: 100%;
  height: 100%;
  display: none;
}
.frame-item,
.projectsclickme,
.rectangle-parent {
  position: absolute;
  left: 0;
  border-radius: 5.61px;
  height: 11px;
}
.frame-item {
  top: 0;
  background-color: var(--color-orangered-100);
  width: 309px;
  z-index: 1;
}
.projectsclickme,
.rectangle-parent {
  top: 10px;
  background-color: var(--color-whitesmoke-300);
  width: 704px;
}
.projectsclickme {
  top: 0;
  left: 309px;
  border-radius: 50%;
  box-shadow: 0 3.7px 6.54px rgba(0, 0, 0, 0.2);
  border: 0 solid var(--color-orangered-100);
  box-sizing: border-box;
  width: 29.9px;
  height: 29.9px;
  z-index: 1;
}
.appdesigntitle {
  align-self: stretch;
  height: 30px;
  position: relative;
}
.website-design {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  gap: var(--gap-7xs);
}
.app-design {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.frame-inner {
  position: absolute;
  top: 0.2px;
  left: 0.6px;
  border-radius: 5.61px;
  background-color: var(--color-whitesmoke-300);
  width: 100%;
  height: 100%;
  display: none;
}
.ellipse-div,
.rectangle-div,
.rectangle-group {
  position: absolute;
  border-radius: 5.61px;
  height: 11px;
}
.rectangle-div {
  top: 0.3px;
  left: 0.4px;
  background-color: var(--color-orangered-100);
  width: 309px;
  z-index: 1;
}
.ellipse-div,
.rectangle-group {
  top: 10px;
  left: 0;
  background-color: var(--color-whitesmoke-300);
  width: 704px;
}
.ellipse-div {
  top: 0.3px;
  left: 309.4px;
  border-radius: 50%;
  box-shadow: 0 3.7px 6.54px rgba(0, 0, 0, 0.2);
  border: 0 solid var(--color-orangered-100);
  box-sizing: border-box;
  width: 29.9px;
  height: 29.9px;
  z-index: 1;
}
.frame-parent {
  height: 30px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.aboutheader,
.ux-inner,
.ux1 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.ux-inner {
  display: flex;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.aboutheader,
.ux1 {
  flex-direction: column;
}
.ux1 {
  display: flex;
  gap: 7px;
  max-width: 100%;
}
.aboutheader {
  padding: 0 var(--padding-12xs) 0 0;
  gap: 38px 0;
}
.aboutheader,
.statistics,
.statistics-wrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.statistics {
  width: 705px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  gap: var(--gap-26xl);
}
.statistics-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 3px;
  font-size: var(--font-size-3xl-4);
}
.about-description,
.about1,
.title-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.title-parent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px 0;
}
.about-description,
.about1 {
  box-sizing: border-box;
}
.about-description {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-5xs);
  min-width: 493px;
  flex-shrink: 0;
}
.about1 {
  width: 1320px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-12xs) 0 16px var(--padding-lg);
  gap: 0 21px;
  text-align: left;
  font-size: 60.8px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.title1 {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.footerframe {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
}
.card {
  width: 308.3px;
  height: 323.2px;
  position: relative;
  border-radius: 13.08px;
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.frameframeframe-icon {
  width: 131px;
  height: 131px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.title2 {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  z-index: 1;
}
.card1,
.uiux1 {
  border-radius: 13.08px;
  background-color: var(--color-whitesmoke-200);
}
.uiux1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-26xl) 31px var(--padding-40xl) var(--padding-xl);
  box-sizing: border-box;
  gap: 28px;
  min-width: 200px;
  text-align: center;
}
.card1 {
  width: 308.3px;
  height: 323.2px;
  position: relative;
  display: none;
}
.rectanglerectangle-icon {
  height: 121px;
  width: 121px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.rectanglerectangle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 0;
}
.title3 {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  z-index: 1;
}
.card2,
.web-design {
  border-radius: 13.08px;
  background-color: var(--color-whitesmoke-200);
}
.web-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px var(--padding-lgi) var(--padding-39xl) 34px;
  gap: var(--gap-15xl);
}
.card2 {
  width: 308.3px;
  height: 323.2px;
  position: relative;
  display: none;
}
.rectangle-icon {
  height: 124px;
  width: 124px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.app-design-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) 0 0;
}
.title4 {
  height: 60px;
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.app-design1 {
  border-radius: 13.08px;
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 38px var(--padding-lgi) var(--padding-40xl) var(--padding-26xl);
  gap: var(--gap-23xl);
}
.blocks,
.titleblocks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.blocks {
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-51xl);
}
.titleblocks {
  width: 1106px;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl) 14px var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.description2,
.title5 {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
}
.title5 {
  height: 91px;
  font-weight: 600;
  max-width: 100%;
}
.description2 {
  align-self: stretch;
  height: 93.8px;
  flex-shrink: 0;
}
.bg-rectangle {
  height: 76.7px;
  width: 227.2px;
  position: relative;
  border-radius: 14.33px;
  background-color: var(--color-darkorange);
  display: none;
}
.text-node {
  position: relative;
  font-size: 24.6px;
  text-decoration: underline;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  z-index: 1;
}
.click-me,
.project-info-frame {
  display: flex;
  flex-direction: row;
}
.click-me {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-39xl) var(--padding-lgi) 57px;
  background-color: var(--color-darkorange);
  border-radius: 14.33px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.click-me:hover {
  background-color: #e35700;
}
.project-info-frame {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 29px 0 0;
  margin-top: -13px;
}
.description-frame,
.projects1,
.projectsframe {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.description-frame {
  width: 866px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--font-size-5xl);
}
.projects1,
.projectsframe {
  box-sizing: border-box;
}
.projects1 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 0 56px var(--padding-xl) var(--padding-xl);
  gap: 14px 0;
}
.projectsframe {
  width: 1366px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 26px 17px var(--padding-xl);
  text-align: center;
  font-size: 60.4px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.canvas,
.m-child {
  position: relative;
  display: none;
}
.canvas {
  align-self: stretch;
  height: 413.1px;
  background-color: var(--color-whitesmoke-100);
}
.m-child {
  height: 39.7px;
  width: 39.6px;
  background-color: var(--color-orangered-100);
}
.m,
.r2 {
  z-index: 1;
}
.r2 {
  position: relative;
}
.m {
  width: 40px;
  background-color: var(--color-orangered-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.avindaran1 {
  position: relative;
  color: var(--color-black);
  cursor: pointer;
  z-index: 1;
}
.facebook-twitter-instagram-lin,
.m-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.m-frame {
  align-self: stretch;
  gap: 0 1px;
}
.facebook-twitter-instagram-lin {
  flex: 1;
  padding: 0 var(--padding-xs) 0 0;
}
.home1 {
  position: relative;
  letter-spacing: 0.03em;
  cursor: pointer;
  z-index: 1;
}
.home-about-frame-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 9px 0 0;
}
.about2 {
  position: relative;
  letter-spacing: 0.03em;
  cursor: pointer;
  z-index: 1;
}
.home-about-frame-link1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.services1 {
  z-index: 1;
  cursor: pointer;
}
.projects2,
.services1 {
  position: relative;
  letter-spacing: 0.03em;
}
.home-about-services-projects-f,
.text-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text-button {
  flex: 1;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-5xs);
  cursor: pointer;
  z-index: 1;
}
.home-about-services-projects-f {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 0 21px;
  font-size: var(--font-size-base-7);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.facebook-negative1,
.instagram-negative1,
.linkedin-negative1,
.twitter-negative1 {
  height: 24.3px;
  width: 24.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 1;
}
.footer-frame-links,
.ravindaran-all-rights-reserved {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ravindaran-all-rights-reserved {
  padding: 0 var(--padding-11xs) 0 0;
  gap: 0 18px;
}
.footer-frame-links {
  padding: 0 var(--padding-2xs) 0 0;
}
.home-about-frame,
.social-media-negative-frame {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.social-media-negative-frame {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: 59px 0;
}
.home-about-frame {
  width: 344px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-5xs);
  box-sizing: border-box;
}
.bottom-bg {
  height: 62.9px;
  width: 1437.5px;
  position: relative;
  background-color: var(--color-dimgray);
  display: none;
  max-width: 100%;
}
.ravindaran,
.span {
  color: var(--color-darkorange);
}
.ravindaran-all-rights-container {
  position: relative;
  letter-spacing: 0.03em;
  z-index: 2;
}
.copyright-info,
.footer,
.my-portfolio {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.copyright-info {
  align-self: stretch;
  background-color: var(--color-dimgray);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-lgi) 27px var(--padding-lgi) var(--padding-xl);
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-base-7);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.footer,
.my-portfolio {
  flex-direction: column;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  height: 414px;
  background-color: var(--color-whitesmoke-100);
  padding: 80px 0 var(--padding-12xs) var(--padding-11xs);
  gap: 47px 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-14xl-6);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.my-portfolio {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-9xl) 0 var(--padding-12xs);
  gap: 59px 0;
  letter-spacing: normal;
  text-align: center;
  font-size: 60.7px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .facebook-negative-frame {
    min-height: auto;
  }
  .image-1-icon {
    flex: 1;
  }
  .header {
    flex-wrap: wrap;
    gap: var(--gap-111xl);
  }
}
@media screen and (max-width: 1050px) {
  .frame-home-about {
    display: none;
  }
  .header-frame {
    width: 1087px;
  }
  .designer,
  .uiux-web {
    font-size: var(--font-size-27xl);
  }
  .image-1-icon1 {
    flex: 1;
  }
  .title {
    font-size: var(--font-size-30xl);
  }
  .about1 {
    flex-wrap: wrap;
  }
  .title1 {
    font-size: var(--font-size-30xl);
  }
  .title2,
  .title3,
  .title4 {
    font-size: var(--font-size-13xl);
  }
  .blocks {
    gap: var(--gap-51xl);
  }
  .title5 {
    font-size: 48px;
  }
  .projects1 {
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .avindaran1,
  .r2 {
    font-size: var(--font-size-8xl);
  }
}
@media screen and (max-width: 750px) {
  .frame-home {
    padding-right: 42px;
    box-sizing: border-box;
  }
  .twitter-negative-frame {
    gap: 60px 0;
  }
  .facebook-negative-frame {
    min-width: 100%;
  }
  .header {
    gap: var(--gap-111xl);
  }
  .aboutheader {
    gap: 38px 0;
  }
  .statistics {
    gap: var(--gap-26xl);
  }
  .about-description {
    min-width: 100%;
  }
  .blocks {
    gap: var(--gap-51xl);
  }
  .footer {
    gap: 47px 0;
  }
  .my-portfolio {
    gap: 59px 0;
  }
}
@media screen and (max-width: 450px) {
  .frame-home {
    display: none;
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .header-frame {
    width: 861px;
  }
  .hi-i-am {
    font-size: var(--font-size-lg);
  }
  .ravindaran-kumar {
    font-size: var(--font-size-5xl);
  }
  .designer,
  .uiux-web {
    font-size: var(--font-size-9xl);
  }
  .description {
    font-size: 16px;
  }
  .header {
    gap: var(--gap-111xl);
  }
  .title {
    font-size: var(--font-size-17xl);
  }
  .description1 {
    font-size: 17px;
  }
  .app-design,
  .uiux,
  .website-design1 {
    font-size: var(--font-size-lg);
  }
  .title1 {
    font-size: var(--font-size-17xl);
  }
  .footerframe {
    max-width: calc(100% - 2px);
  }
  .title2,
  .title3 {
    font-size: var(--font-size-5xl);
  }
  .web-design {
    gap: var(--gap-15xl);
  }
  .title4 {
    font-size: var(--font-size-5xl);
  }
  .app-design1 {
    gap: var(--gap-23xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .title5 {
    font-size: var(--font-size-17xl);
  }
  .description2 {
    font-size: 19px;
  }
  .avindaran1,
  .r2 {
    font-size: var(--font-size-xl);
  }
  .facebook-twitter-instagram-lin {
    max-width: calc(100% - 12px);
  }
  .footer-frame-links {
    max-width: calc(100% - 10px);
  }
  .social-media-negative-frame {
    gap: 59px 0;
  }
  .home-about-frame {
    max-width: calc(100% - 8px);
  }
  .footer {
    padding-top: 52px;
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
