.r-child,
.r1 {
  position: relative;
}
.r-child {
  align-self: stretch;
  width: 53px;
  background-color: var(--color-orangered-100);
  display: none;
}
.r1 {
  height: 54px;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.r {
  background-color: var(--color-orangered-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xs) 0 var(--padding-2xs);
}
.avindaran {
  height: 54px;
  position: relative;
  display: inline-block;
  color: var(--color-black);
  white-space: nowrap;
  cursor: pointer;
}
.f-r-a-m-e {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  font-size: var(--font-size-26xl);
  font-family: var(--font-inter);
}
.home {
  cursor: pointer;
}
.about,
.home {
  height: 29px;
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
}
.header {
  width: 87px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs);
  box-sizing: border-box;
  cursor: pointer;
}
.services {
  height: 29px;
  display: inline-block;
  cursor: pointer;
}
.projects,
.services {
  position: relative;
  letter-spacing: 0.03em;
}
.header1,
.home-frame-about-services-proj {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header1 {
  width: 108px;
  justify-content: center;
  padding: var(--padding-4xs);
  box-sizing: border-box;
  cursor: pointer;
}
.home-frame-about-services-proj {
  width: 500px;
  justify-content: flex-start;
  gap: 25px;
  max-width: 100%;
  color: var(--color-black);
}
.avindaran1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: -0.1px;
  right: 0.3px;
  bottom: 0.1px;
  left: 0.3px;
  border-radius: 4.65px;
  background-color: var(--color-orangered-100);
}
.download-cv {
  height: 14.9px;
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  z-index: 1;
  cursor: pointer;
  color: whitesmoke;
  font-size: 20px;
}
.download-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lgi) var(--padding-5xl);
  position: relative;
  white-space: nowrap;
}
.facebook-negative-twitter-nega {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 5px;
  text-align: justify;
}
.portfolio-frame {
  width: 1361px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lgi-6);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.image-1-icon {
  position: absolute;
  height: 100%;
  width: 39.61%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 60.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.uiux-web {
  margin: 0;
  position: absolute;
  top: 128px;
  left: 0;
  font-size: inherit;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.hi-i-am,
.ravindaran-kumar {
  height: 33px;
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: inline-block;
}
.ravindaran-kumar {
  height: 45px;
  font-size: 29.8px;
  color: var(--color-orangered-100);
}
.hi-i-am-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.designer {
  margin: 0;
  width: 447px;
  height: 140px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.committed-to-continuous,
.enthusiastic-fresher-in {
  margin: 0;
}
.description1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  max-width: 100%;
}
.frame-parent,
.header-content,
.hi-ravindaran {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.hi-ravindaran {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 6px 0 0;
  box-sizing: border-box;
  text-align: justify;
  font-size: var(--font-size-xl);
}
.frame-parent,
.header-content {
  flex-direction: column;
}
.header-content {
  align-self: stretch;
  align-items: flex-end;
  gap: 26px;
  font-size: var(--font-size-74xl);
}
.frame-parent {
  position: absolute;
  top: 70px;
  left: 4px;
  width: 664px;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: 60px;
  font-size: 22.3px;
}
.header2 {
  align-self: stretch;
  height: 601.4px;
  position: relative;
  max-width: 100%;
}
.facebook-negative,
.instagram-negative,
.linkedin-negative,
.twitter-negative {
  height: 30.2px;
  width: 30.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 30px;
}
.description,
.description-section,
.negative-feedback {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.negative-feedback {
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 23px;
}
.description,
.description-section {
  width: 603px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.description {
  width: 1360px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 9px;
  text-align: left;
  font-size: var(--font-size-74xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.image-1-icon1 {
  width: 522.8px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  flex-shrink: 0;
}
.title {
  height: 91px;
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: inline-block;
}
.bca-graduate-in,
.qualities-of-listening {
  margin: 0;
}
.description2,
.uiux {
  position: relative;
  letter-spacing: 0.03em;
}
.description2 {
  align-self: stretch;
  height: 145px;
  font-size: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.uiux {
  font-weight: 600;
}
.frame-child {
  position: absolute;
  top: -0.2px;
  left: 0.3px;
  border-radius: 5.61px;
  background-color: var(--color-whitesmoke-300);
  width: 100%;
  height: 100%;
  display: none;
}
.frame-item,
.rectangle-parent,
.statistic-box {
  position: absolute;
  left: 0;
  border-radius: 5.61px;
  height: 11px;
}
.frame-item {
  top: 0;
  background-color: var(--color-orangered-100);
  width: 309px;
  z-index: 1;
}
.rectangle-parent,
.statistic-box {
  top: 9.7px;
  background-color: var(--color-whitesmoke-300);
  width: 704px;
}
.statistic-box {
  top: -0.3px;
  left: 309px;
  border-radius: 50%;
  box-shadow: 0 3.7px 6.54px rgba(0, 0, 0, 0.2);
  border: 2.8px solid var(--color-orangered-100);
  box-sizing: border-box;
  width: 29.9px;
  height: 29.9px;
  z-index: 1;
}
.frame-group,
.ux {
  align-self: stretch;
}
.frame-group {
  height: 30px;
  position: relative;
}
.ux {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.website-design1 {
  height: 34px;
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: inline-block;
}
.frame-inner,
.rectangle-div {
  position: absolute;
  border-radius: 5.61px;
}
.frame-inner {
  top: -0.1px;
  left: 0.3px;
  background-color: var(--color-whitesmoke-300);
  width: 100%;
  height: 100%;
  display: none;
}
.rectangle-div {
  top: 0;
  left: 0;
  background-color: var(--color-orangered-100);
  width: 309px;
  height: 11px;
  z-index: 1;
}
.app-design-header-child,
.rectangle-group {
  position: absolute;
  top: 9.6px;
  left: 0;
  border-radius: 5.61px;
  background-color: var(--color-whitesmoke-300);
  width: 704px;
  height: 11px;
}
.app-design-header-child {
  top: -0.4px;
  left: 309px;
  border-radius: 50%;
  box-shadow: 0 3.7px 6.54px rgba(0, 0, 0, 0.2);
  border: 2.8px solid var(--color-orangered-100);
  box-sizing: border-box;
  width: 29.9px;
  height: 29.9px;
  z-index: 1;
}
.app-design-header {
  align-self: stretch;
  height: 30px;
  position: relative;
}
.website-design {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.app-design {
  height: 34px;
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: inline-block;
}
.frame-child1 {
  position: absolute;
  top: 0.2px;
  left: 0.6px;
  border-radius: 5.61px;
  background-color: var(--color-whitesmoke-300);
  width: 100%;
  height: 100%;
  display: none;
}
.ellipse-div,
.frame-child2,
.rectangle-container {
  position: absolute;
  border-radius: 5.61px;
  height: 11px;
}
.frame-child2 {
  top: 0.3px;
  left: 0.4px;
  background-color: var(--color-orangered-100);
  width: 309px;
  z-index: 1;
}
.ellipse-div,
.rectangle-container {
  top: 10px;
  left: 0;
  background-color: var(--color-whitesmoke-300);
  width: 704px;
}
.ellipse-div {
  top: 0.3px;
  left: 309.4px;
  border-radius: 50%;
  box-shadow: 0 3.7px 6.54px rgba(0, 0, 0, 0.2);
  border: 2.8px solid var(--color-orangered-100);
  box-sizing: border-box;
  width: 29.9px;
  height: 29.9px;
  z-index: 1;
}
.frame-container {
  height: 30px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.ux-inner,
.ux1 {
  align-self: stretch;
  align-items: flex-start;
}
.ux-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.ux1 {
  gap: var(--gap-6xs);
}
.about-container,
.statistics,
.ux1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.about-container {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-20xl);
}
.statistics {
  width: 705px;
  align-items: flex-end;
  gap: var(--gap-26xl);
}
.app-design-frame,
.statistics-frame {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.app-design-frame {
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
  font-size: var(--font-size-3xl-4);
}
.statistics-frame {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.about-page,
.about1,
.description-text {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.description-text {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-6xs);
  min-width: 493px;
  flex-shrink: 0;
}
.about-page,
.about1 {
  flex-direction: row;
}
.about1 {
  flex: 1;
  align-items: center;
  padding: var(--padding-12xs) 0 16px var(--padding-lg);
  gap: 21px;
  flex-shrink: 0;
}
.about-page {
  width: 1360px;
  align-items: flex-start;
  padding: 0 var(--padding-xl) var(--padding-10xs);
  text-align: left;
  font-size: 60.8px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.card,
.title1 {
  position: relative;
}
.title1 {
  height: 91px;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: inline-block;
}
.card {
  width: 308.3px;
  height: 323.2px;
  border-radius: 13.08px;
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.title2,
.uiux-child {
  position: relative;
  z-index: 1;
}
.uiux-child {
  width: 131px;
  height: 131px;
  object-fit: cover;
}
.title2 {
  width: 119px;
  height: 60px;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: inline-block;
}
.card1,
.uiux1 {
  border-radius: 13.08px;
  background-color: var(--color-whitesmoke-200);
}
.uiux1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-26xl) 31px var(--padding-40xl) var(--padding-xl);
  box-sizing: border-box;
  gap: 28px;
  min-width: 200px;
  text-align: center;
}
.card1 {
  width: 308.3px;
  height: 323.2px;
  position: relative;
  display: none;
}
.rectangle-icon {
  height: 121px;
  width: 121px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.web-design-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 0;
}
.title3 {
  height: 60px;
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.card2,
.web-design {
  border-radius: 13.08px;
  background-color: var(--color-whitesmoke-200);
}
.web-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px var(--padding-lgi) var(--padding-39xl) var(--padding-15xl);
  gap: var(--gap-15xl);
}
.card2 {
  width: 308.3px;
  height: 323.2px;
  position: relative;
  display: none;
}
.frame-child3 {
  height: 124px;
  width: 124px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.app-design-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) 0 0;
}
.title4 {
  height: 60px;
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.app-design1 {
  border-radius: 13.08px;
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 38px var(--padding-lgi) var(--padding-40xl) var(--padding-26xl);
  gap: var(--gap-23xl);
}
.blocks {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-51xl);
  text-align: left;
  font-size: var(--font-size-21xl);
}
.title-parent {
  width: 1066px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-40xl);
  max-width: 100%;
}
.description3,
.title5 {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
}
.title5 {
  height: 91px;
  font-weight: 600;
  max-width: 100%;
}
.description3 {
  align-self: stretch;
  height: 93.8px;
  font-size: var(--font-size-5xl);
  flex-shrink: 0;
}
.project-container {
  width: 853px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  max-width: 100%;
  flex-shrink: 0;
}
.bg-rectangle {
  height: 76.7px;
  width: 227.2px;
  position: relative;
  border-radius: 14.33px;
  background-color: var(--color-darkorange);
  display: none;
}
.text {
  height: 37px;
  position: relative;
  font-size: 24.6px;
  text-decoration: underline;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.click-me {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-39xl) var(--padding-lgi) 57px;
  background-color: var(--color-darkorange);
  border-radius: 14.33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.click-me:hover {
  background-color: #e35700;
}
.project-title-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 29px 0 0;
}
.frame-section,
.projects1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.projects1 {
  align-self: stretch;
  height: 295px;
  padding: 0 69px var(--padding-xl) var(--padding-xl);
  font-size: 60.4px;
}
.frame-section {
  width: 1360px;
  padding: 0 var(--padding-xl);
  gap: var(--gap-54xl);
  text-align: center;
  font-size: 60.7px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.canvas,
.m-child {
  position: relative;
  display: none;
}
.canvas {
  align-self: stretch;
  height: 413.1px;
  background-color: var(--color-whitesmoke-100);
}
.m-child {
  height: 39.7px;
  width: 39.6px;
  background-color: var(--color-orangered-100);
}
.m,
.r2 {
  z-index: 1;
}
.r2 {
  height: 41.1px;
  position: relative;
  display: inline-block;
}
.m {
  width: 40px;
  background-color: var(--color-orangered-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.avindaran2 {
  height: 41.1px;
  position: relative;
  display: inline-block;
  color: var(--color-black);
  cursor: pointer;
  z-index: 1;
}
.avatar-frame,
.m-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.m-frame {
  align-self: stretch;
  gap: 1px;
}
.avatar-frame {
  height: 42px;
  padding: 0 var(--padding-xs) 0 0;
  box-sizing: border-box;
}
.home1 {
  height: 24px;
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}
.home-about-services-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
}
.about2 {
  height: 24px;
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}
.home-about-services-frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
}
.services1 {
  height: 24px;
  display: inline-block;
  z-index: 1;
  cursor: pointer;
}
.projects2,
.services1 {
  position: relative;
  letter-spacing: 0.03em;
}
.projects-link-text-frame {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-6xs) 8px;
  box-sizing: border-box;
  min-width: 57px;
  cursor: pointer;
  z-index: 1;
}
.home-services-projects-link-fr {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 22px;
  font-size: var(--font-size-base-7);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.facebook-negative1,
.instagram-negative1,
.linkedin-negative1,
.twitter-negative1 {
  height: 24.3px;
  width: 24.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 1;
}
.copyright-text-frame,
.social-media-links-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.copyright-text-frame {
  padding: 0 var(--padding-11xs) 0 0;
  gap: 18px;
}
.social-media-links-frame {
  padding: 0 var(--padding-2xs) 0 0;
}
.home-about-link-frame,
.social-media-icons-frame {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.social-media-icons-frame {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-40xl);
}
.home-about-link-frame {
  width: 386px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 30px 0 var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.bottom-bg {
  height: 62.9px;
  width: 1437.5px;
  position: relative;
  background-color: var(--color-dimgray);
  display: none;
  max-width: 100%;
}
.ravindaran,
.span {
  color: var(--color-darkorange);
}
.ravindaran-all-rights-container {
  position: relative;
  letter-spacing: 0.03em;
  z-index: 2;
}
.footer,
.footer-content,
.portfolio {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.footer-content {
  align-self: stretch;
  background-color: var(--color-dimgray);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-lgi) 25px var(--padding-lgi) var(--padding-xl);
  max-width: 100%;
  flex-shrink: 0;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-base-7);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.footer,
.portfolio {
  flex-direction: column;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  padding: 80px var(--padding-12xs) var(--padding-12xs);
  gap: var(--gap-28xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-14xl-6);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.portfolio {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 28px 0 var(--padding-12xs);
  gap: var(--gap-39xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1100px) {
  .image-1-icon1 {
    flex: 1;
  }
  .about1 {
    flex-wrap: wrap;
  }
  .blocks {
    gap: var(--gap-51xl);
  }
}
@media screen and (max-width: 1025px) {
  .f-r-a-m-e {
    display: none;
  }
  .portfolio-frame {
    width: 1087px;
  }
  .designer,
  .uiux-web {
    font-size: var(--font-size-27xl);
  }
  .title,
  .title1 {
    font-size: var(--font-size-30xl);
  }
  .title2,
  .title3,
  .title4 {
    font-size: var(--font-size-13xl);
  }
  .title5 {
    font-size: 48px;
  }
  .projects1 {
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
  .avindaran2,
  .r2 {
    font-size: var(--font-size-8xl);
  }
}
@media screen and (max-width: 750px) {
  .about-container {
    gap: var(--gap-20xl);
  }
  .statistics {
    gap: var(--gap-26xl);
  }
  .description-text {
    min-width: 100%;
  }
  .blocks {
    gap: var(--gap-51xl);
  }
  .title-parent {
    gap: var(--gap-40xl);
  }
  .frame-section {
    gap: var(--gap-54xl);
  }
  .footer {
    gap: var(--gap-28xl);
  }
  .portfolio {
    gap: var(--gap-39xl);
  }
}
@media screen and (max-width: 450px) {
  .home-frame-about-services-proj {
    display: none;
  }
  .portfolio-frame {
    width: 861px;
  }
  .uiux-web {
    font-size: var(--font-size-9xl);
  }
  .hi-i-am {
    font-size: var(--font-size-lg);
  }
  .ravindaran-kumar {
    font-size: var(--font-size-5xl);
  }
  .designer {
    font-size: var(--font-size-9xl);
  }
  .description1 {
    font-size: 16px;
  }
  .title {
    font-size: var(--font-size-17xl);
  }
  .description2 {
    font-size: 17px;
  }
  .app-design,
  .uiux,
  .website-design1 {
    font-size: var(--font-size-lg);
  }
  .title1 {
    font-size: var(--font-size-17xl);
  }
  .title2,
  .title3 {
    font-size: var(--font-size-5xl);
  }
  .web-design {
    gap: var(--gap-15xl);
  }
  .title4 {
    font-size: var(--font-size-5xl);
  }
  .app-design1 {
    gap: var(--gap-23xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .title5 {
    font-size: var(--font-size-17xl);
  }
  .description3 {
    font-size: 19px;
  }
  .frame-section {
    gap: var(--gap-54xl);
  }
  .avindaran2,
  .r2 {
    font-size: var(--font-size-xl);
  }
  .social-media-icons-frame {
    gap: var(--gap-40xl);
  }
  .footer {
    padding-top: 52px;
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
